/* Common */
:root {
  /* colors */
  --font-color: rgba(255, 255, 255, 0.4);
  --a-color: rgba(255, 255, 255, 0.4);
  --a-hover-color: rgba(255, 255, 255, 1);
  --a-active-underline-color: greenyellow;
  --main-bg-color: rgb(20, 25, 34);
  --upgrade-row-bg-color: rgba(0, 0, 0, 0.4);
  --footer-bg-color: #282828;
  /* sizes */
  --side-bar-md-width-large: 230px;
  --side-bar-xs-width-large: 50px;
  --side-bar-min-height: 480px;
  --profile-height:80px;
  --upgrade-row-height: 90px;
  --footer-height:90px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 100%;
  font-family: 'Montserrat', sans-serif;
  color: var(--font-color);
}

.clearfix::after {
  content: '';
  display: table;
  clear: both;
}
/* common */
/* list */
ul {
    list-style: none;
}

a {
    text-decoration: none;
}
/* tiltle */
h2,
h3 {
  color: white;
}
/* /common */
.main-container {
  width: 100%;
  height: 100vh;
  background-color: black;
  overflow: hidden;
}

main {
  width: 100%;
  height: calc(100% - var(--footer-height));
  overflow: hidden;
}
/* side bar */
.side-bar {
  float: left;
  width: var(--side-bar-md-width-large);
  height: 100%;
  min-height: var(--side-bar-min-height);
  background-color: black;
}
.side-bar ul,
.side-bar h3,
.get-app {
  margin-left: 1em;
}

.side-bar ul li {
  margin-bottom: 1em;
}
/* side menu */
.side-menu {
    height: calc(99% - var(--profile-height));
}

.side-menu-container {
  height: 200px;
}

.logo>img {
  max-width: 70%;
  margin: 1.2em;
}

.small-logo img {
  display: none;
}

.side-menu ul li img {
  width: 1.5em;
  vertical-align: middle;
}

.side-menu ul li a,
.playlist-menu ul li a {
  color: gray;
  font-weight: bold;
  font-size: 0.9em;
}
/* /side menu */

/* playlist */
.playlist-menu {
  margin-top: 2em;
  height: calc(100% - 270px);
  overflow: hidden;
}
.playlist-menu h3 {
  color: white;
}
.playlist-add {
  height: 70px;
  padding-top: 0.5em;
}

.playlist-add .fa-plus-square {
    color: gray;
    font-size: 3em;
    margin-right: 0.1em;
    margin-left: 0.3em;
    vertical-align: middle;
}
.playlist-add a {
  color: #a3a3a3;
}
.playlist {
  overflow-y: auto;
  height: 80%;
}
/* /playlist */

/* profile */
.profile {
  width: 100%;
  height: var(--profile-height);
  
}
.profile>img {
    width: 1.5em;
    background-color: gray;
    border-radius: 5em;
    vertical-align: middle;
    margin-left: 1em;
}
.profile>h3 {
    display: inline;
    margin: 0.5em;
}
.get-app img {
    width: 1.2em;
    vertical-align: middle;
}

.get-app a {
    color: #a3a3a3;
    font-size: 0.9em;
    font-weight: bold;
}
.get-app hr {
    width: 13em;
    margin: 1em 0;
}
/* /profile */

/* main content */
.main-content {
  float: left;
  width: calc(100% - var(--side-bar-md-width-large));
  height: 100%;
  padding-top: calc(var(--upgrade-row-height) + 2em);
  padding-bottom: 2em;
  background-color: var(--main-bg-color);
  overflow: auto;
}
/* upgrade row */
.upgrade-row {
  position: fixed;
  top: 0;
  right: 0;
  width: calc( 100% - var(--side-bar-md-width-large));
  height: var(--upgrade-row-height);
  background-color: var(--upgrade-row-bg-color);
}
.upgrade {
  display: flex;
  justify-content: end;
  align-items: center;
  height: 100%;
  margin-right: 2em;
    
}
.upgrade a {
    background-color: transparent;
    border: 2px solid lightslategray;
    color: white;
    border-radius: 5em;
    padding: 0.5em 3em;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 0.9em;
}
/* /upgrade row */
/* main content menu */
.main-menu ul {
  text-align: center;
}

.main-menu ul li {
  display: inline-block;
  margin: 0 0.5em;
}

.main-menu ul li a {
  color: var(--a-color);
  text-transform: uppercase;
  font-weight: bold;
  font-size: 0.8em;
}

.main-menu ul li .green-row {
  width: 25px;
  height: 2px;
  background: greenyellow;
  margin: 0 auto;
}
/* main content menu */

.album-row {
  height: 350px;
  display: flex;
  flex-direction: row;
  margin-left: 1.5em;
}

.title-section {
  margin: 1.5em;
}
.title-section p {
  margin-top: 0.5em;
  font-size: 0.9em;
}

.album-box {
  width: 238px;
  
  margin-right: 2em;
}

.album-box img {
  width: 95%;
}

.album-description {
  text-align: center;
  font-size: 0.65em;
}

.mid-section .album-row,
.bot-section .album-row {
  width: 34%;
}

.bot-section .album-row .album-box img {
  border-radius: 50%;
}

/* /main content */
/* footer */
footer {
  width: 100%;
  height: var(--footer-height);
  background-color: var(--footer-bg-color)
}

/* player */
.player-row {
  display: flex;
  flex-direction: row;
  height: 100%;
  justify-content: space-between;
}

.left-player {
  height: 100%;
  display: flex;
  align-items: center;
}

.left-player img {
  width: 3em;
  margin-left: 0.6em;
}

.now-playing {
  margin: 0 3em 0 0.6em;
}

.left-player ul li {
  display: inline-block;
  color: gray;
}

.now-playing h4{
  color: white;
  font-size: 0.8em;
}

.fa-heart {
  margin-right: 0.4em;
}

.now-playing h5{
  color: gray;
  font-size: 0.8em;
}

.player-control{
  position: relative;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.player-control ul li {
  display: inline-block;
  color: white;
  font-size: 1.5em;
  margin: 0 0.5em;
}

.slider {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.slider-track {
  width: 65%;
  height: 5px;
  background: gray;
  border-radius: 20em;
  position: relative;
  
}

.slider-fill {
  position: absolute;
  left: 0;
  width: 25%;
  height: 5px;
  background: rgb(193, 193, 193);
  border-radius: 20em;
}

.slider-dot {
  display: none;
  width: 15px;
  height: 15px;
  background-color: white;
  border-radius: 50%;
  position: absolute;
  left: 24%;
  bottom: -5px;
}

.timer {
  color: white;
  margin: 0 1em;
  font-size: 0.8em;
}

.player-vol {
  height: 100%;
  display: flex;
  align-items: center;
}

.player-vol ul li {
  display: inline-block;
  color: white;
  margin: 5px;
}

.volume-slider {
  width: 7em;
  height: 5px;
  background: gray;
  border-radius: 20em;
  margin: 0 10px;
  position: relative;
}

.volume-slider-fill  {
  width: 2em;
  height: 5px;
  background: rgb(193, 193, 193);
  border-radius: 20em;
  position: absolute;
  left: 0;
  top: 0;
}


/* /player */
/* /footer */

@media screen and (max-width:1100px) {
  
}
@media screen and (max-width: 700px) {
  .album-box {
    width: 175px;
  }
.top-section .album-row {
  flex-direction: row;
  flex-wrap: wrap;
  height: 816px;
}
  
.mid-section .album-row {
  width: 100%;
}
}

@media screen and (max-width: 600px) {
  .main-content {
    overflow-x: hidden;
  }
.side-bar {
  width: var(--side-bar-xs-width-large);
}

.main-content {
  width: calc(100% - var(--side-bar-xs-width-large));
}

.upgrade-row {
  width: calc( 100% - var(--side-bar-xs-width-large));
}

.logo img {
  display: none;
}

.small-logo img {
  display: block;
  width: 50%;
  margin: 1em;
}
 
.side-bar a {
  display: none;
}

.playlist-menu {
  display: none;
}

.top-section .album-row {
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  height: 816px;
  margin-left: 1.5em;
}
  
.mid-section .album-row {
  width: 100%;
}

.get-app img {
  margin-bottom: 1em;
}

.get-app hr {
  display: none;
}
.profile h3  {
  display: none;
}
}