/* fix */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 100%;
    font-family: 'Open Sans', sans-serif;
}

:root {
    --bark-blue: #141922;
    --grey: #282828;
    --black: #000000;
    --lime: #adff2f;
}

/* common */
/* list */
ul {
    list-style: none;
}

a {
    text-decoration: none;
}
/* title */
h3 {
    color: white;
}

.main-container {
    background-color: var(--bark-blue);
}

/* side bar */
.side-bar {
    background-color: var(--black);
    /* display: flex;
    flex-direction: column; */
    width: 15em;
    height: 54em;
}
.side-menu ul li a,
.playlist-menu ul li a {
    color: gray;
    font-weight: bold;
}
.logo img {
    max-width: 70%;
    margin: 1.2em;
}

/* upgrade row */
.upgrade-row {
    background-color: rgba(0, 0, 0, 0.4);
    position: fixed;
    top: 0;
    right: 0;
    min-width: 87%;
    display: flex;
    flex-direction: row-reverse;
    align-content: center;
    height: 5em;
}

.upgrade {
    display: flex;
    align-items: center;
    
}
.upgrade a {
    background-color: transparent;
    border: 2px solid lightslategray;
    color: white;
    border-radius: 5em;
    padding: 0.5em 3em;
    text-transform: uppercase;
    font-weight: bold;
}

/* player */
.player-row{
    background-color: var(--grey);
    height: 95px;
    min-width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
}

.left-player {
    height: 100%;
    display: flex;
    align-items: center;
}

.left-player img {
    width: 4em;
    margin: 0 1em;
}

.left-player ul li {
    display: inline-block;
}
.player-control{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
.player-control ul li {
    display: inline-block;
    color: white;
    font-size: 2em;
    margin: 0 0.5em;
}
.slider-track {
    width: 65%;
    height: 5px;
    background: gray;
    border-radius: 20em;
}



.player-vol {
    height: 100%;
    display: flex;
    align-items: center;
}
.player-vol ul li {
    display: inline-block;
    color: white;
    margin: 5px;
}

.volume-slider {
    width: 9em;
    height: 5px;
    background: gray;
    border-radius: 20em;
    margin: 0 10px;
}
